.screen {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-image: url('https://getdrawings.com/vectors/blood-vector-png-40.jpg');
    /* Replace 'blood_texture.jpg' with the actual path to your blood texture image */
    background-size: cover;
    /* filter: blur(5px); */
    /* z-index: -1; */
}

.flash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 30%, #f00 80%);
    animation: flashAnimation 3s linear infinite;
    opacity: 0;
}

@keyframes flashAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}