:root {
  --nav-hover-bg: indigo;
  --nav-hover-bg-text-color: rgb(72, 44, 121);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 0.8em;
  /* background-color: brown; */
}

body {
  display: flex;
  flex-wrap: wrap;
}

.App {
  display: grid;
  grid-template-areas:
    "top    top    top"
    "left   center right"
    "bottom bottom bottom";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: min-content 1fr min-content;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* nav:not(.top_menu, .bottom_menu)>* {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
} */

/* nav.active>* {
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all 1s ease-in-out;
} */

/* for common rules for top and bottom menu */
nav.top_menu,
nav.bottom_menu {
  overflow: hidden;
  min-height: 0.5rem;
  height: auto;
  max-width: 5rem;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  transition: all 1s ease-in-out;
}

/* for menu open */
nav.left_menu>ul.menu,
nav.right_menu>ul.menu {
  overflow: hidden;
  width: 0.3em;
  padding: 0.25rem;
  height: 70vh;
  transition: all 1s ease-in-out;
  background-color: transparent;
}

/* this this left menu class inactive condition */
nav.top_menu {
  position: absolute;
  top: 0;
  width: 95%;
  top: 0;
  grid-area: top;
  background: transparent;
  /* border: solid 1px black; */
}


/* left menu svg hover styling */
nav.left_menu li svg:hover,
nav.right_menu li svg:hover {
  cursor: pointer;
  color: var(--nav-hover-bg-text-color);
  /* background-color: var(--nav-hover-bg); */
}


/* this this right menu class inactive condition */
nav.left_menu,
nav.right_menu {
  position: fixed;
  top: 16%;
  height: 70vh;
  background: transparent;
  padding: 0.25rem;
}

/* left menu styling */
nav.left_menu {
  grid-area: left;
}

/* right menu styling */
nav.right_menu {
  grid-area: right;
  right: 0;
}

/* Bottom menu styling */
nav.bottom_menu {
  position: absolute;
  bottom: 0;
  grid-area: bottom;
  width: 95%;
  background: transparent;
  /* border: solid 1px black; */
}

/* bottom menu alignment */
nav.bottom_menu span ol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Bottom menu hover */
nav.bottom_menu li:hover {
  cursor: pointer;
  color: var(--nav-hover-bg-text-color);
  background-color: var(--nav-hover-bg);
}

/* Main component calling area */
.content-area {
  background: transparent;
  margin: 0;
  height: 100%;
  padding: 6%;
  grid-area: center;
  display: flex;
  flex-direction: column;
  /* background: white; */
}

/* Making menu visible */
/* nav.top_menu.active {
  width: 100%;
  height: 6rem;
  overflow: visible;
} */

/* nav.top_menu.active > span > ul {
border: solid 10px black;
} */


nav.left_menu .toggle,
nav.right_menu .toggle {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.right_menu .toggle {
  left: auto;
}

nav.left_menu>ul.active,
nav.right_menu>ul.active {
  height: 70vh;
  width: 5em;
  overflow: visible;
}

nav.bottom_menu.active {
  width: 97%;
  height: 5rem;
  overflow: visible;
}

/* Defining top menu */
nav.top_menu {
  display: flex;
}

nav.top_menu span ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  /* border: solid 10px blue; */
}

nav.top_menu span ul li {
  display: block;
  float: left;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav.top_menu span ul li a {
  color: #fff;
}

nav.top_menu span ul li:hover {
  background: red;
  cursor: pointer;
}

nav.top_menu span ul li ul {
  /* 	background: orange; */
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav.top_menu span ul li:hover>ul,
nav.top_menu span ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav.top_menu span ul li ul li {
  clear: both;
  width: 100%;
}

/* nav.top_menu> :first-child {
  background-color: yellow;
  width: 2em;
  flex-grow: 1;
} */

/* nav.top_menu :nth-child(2) {
  flex-grow: 1;
  text-align: center;
} */

/* nav.top_menu :nth-child(3) {
  flex-grow: 0;
} */

main {
  height: 90%;
}